.WikiaPage { 
    width: auto !important;
}

.ArticlePreviewInner {
    width: 100% !important;
}

#ArticlePreview.ArticlePreviewInner {
    width: 100% !important;
}

.ArticlePreview.ArticlePreviewInner {
    width: 100% !important;
}
